.github-actions-top-box {
    padding: 0px;
    spacing: 8px;
    flex: 1;
}

.github-actions-button-box {
    padding: 0px;
    spacing: 8px;
    flex: 1;
}

.github-actions-button-action {
    -st-icon-style: symbolic;
    border-radius: 20px;
    margin: 0px;
    min-height: 20px;
    min-width: 20px;
    padding: 10px;
    font-size: 100%;
    border: 1px solid;
}

.github-actions-button-action:hover,
.github-actions-button-action:focus {
    border-color: #777;
}

.github-actions-button-action>StIcon {
    icon-size: 20px;
}

